<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 学生 对象主体 -->
    <bean id="student" class="spring.aop.practice2.Student"/>
    <!-- 通知，基于spring继承的通知 -->
    <bean id="MarkAdvice" class="spring.aop.practice2.MarkAdvice"/>
    <!--普通切面-->
    <bean id="loggerAspect" class="spring.aop.practice2.LoggerAspect"/>
    <!--基于注解的切面-->
    <bean id="logAnnotationAspect" class="spring.aop.practice2.LogAnnotationAspect"/>

    <!-- 开启aop -->
    <aop:aspectj-autoproxy/>
    <!-- aop配置 -->
    <aop:config>
        <!-- 连接点 -->
        <aop:pointcut id="pointCut01" expression="execution(* spring.aop.practice2.Student.*(..))"/>
        <aop:pointcut id="pointCut02" expression="@annotation(spring.aop.practice2.AnnotationLog)"/>

        <!--通知-->
        <!--<aop:advisor advice-ref="MarkAdvice" pointcut-ref="pointCut01"/>-->

        <!--<aop:aspect ref="loggerAspect">-->
            <!--<aop:after method="after" pointcut-ref="pointCut01"/>-->
            <!--<aop:before method="before" pointcut-ref="pointCut01"/>-->
        <!--</aop:aspect>-->


        <aop:aspect ref="logAnnotationAspect">
            <aop:after method="after" pointcut-ref="pointCut02"/>
            <aop:before method="before" pointcut-ref="pointCut02"/>
        </aop:aspect>

    </aop:config>

</beans>